@use "./Content/source/_Variables.scss" as v;
@use "./_font_sizes.scss" as f;
@use "./Content/components/kidsSeven";
$blueBg: #E6F5FF;
$orange: #D99400;
$blue: #295F98;

#scratchPage {
  background: $blueBg;
  color: #363636;
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  --color-1: 255, 237, 50;    /* #FFED32 */
  --color-1-text: #48150C;
  --color-2: 255, 105, 220;   /* #FF69DC */
  --color-2-text: #94055C;
  --color-3: 62, 232, 177;    /* #3EE8B1 */
  --color-3-text: #174259;
  --font-scale: 1;

  button {
    background: $blue;
    color: white;
    border-radius: .4rem;
    padding: .5rem;
  }

  .kidsHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;

    .Title {
      display: flex;
      flex-direction: column;

      span {
        font-weight: 900;
        @include f.text-size(2xl)
      }
      h1 {
        font-size: calc(var(--text-6xl) * var(--font-scale));
        font-weight: 900;
        padding-block: 1.5rem;
        margin-bottom: 1.7rem;
      }
      p {
        font-size: calc(var(--text-2xl) * var(--font-scale));
        text-align: center;
      }
      strong {
        color: $orange;
        font-weight: 900;
      }
      button {
        font-size: calc(var(--text-xl) * var(--font-scale));
        width: 23rem;
        font-weight: bold;
        margin-top: 3rem;
      }
    }

    img {
      width: 23rem;
      margin-top: 4rem;
    }
  }

  .kidsCloud {
    background-image: url("/Content/images/kids/cloud.svg");
    background-size: cover;
    padding-block: 5vw;
    margin-top: -6rem;
    position: relative;
    z-index: 10;

    p {
      @include f.text-size(md);
      font-weight: bold;
      max-width: 50rem;
      margin-inline: auto;
      padding-block: 5rem;
      text-align: center;
    }
  }
  .starsBg {
    background: url("./Content/images/kids/starts background.webp");
    padding-block: 10rem;
  }

  .terms {
    background: url("./Content/images/kids/long line.svg") no-repeat;
    background-position: calc(50% + 2rem) 10rem;
    background-size: 33rem;

    &.single {
      background: none;
    }

    > .item {
      --bg: 255, 237, 50;    /* #FFED32 */
      --text: #48150C;
      &::before {
        content: "";
        background: rgb(var(--bg), .3);
        backdrop-filter: blur(4px);
        border-radius: 1.3rem;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        border: 4px transparent rgb(var(--bg, .3));
      }
      &::after {
        content: "";
        width: 15rem;
        height: 16rem;
        background: url("./Content/images/kids/planet.webp");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: -3rem;
        right: -11.3rem;
        z-index: -2;
        animation: bounceUpDown 4s ease-in-out infinite;
      }
      position: relative;
      color: #363636;
      margin: auto;
      margin-bottom: 12rem;
      padding: 1rem 3.2rem;
      font-size: calc(var(--text-md) * var(--font-scale));
      font-weight: 900;
      z-index: 5;
      width: 45rem;

      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(2n) {
        transform: translateX(6rem);
        &::after {
          right: 33rem;
        }
      }
      &:nth-child(2n+1) {
        transform: translateX(-6rem);
      }
      &:nth-child(2) {
        --bg: 255, 105, 220;   /* #FF69DC */
        --text: #94055C;
        &::after {
          filter: hue-rotate(-98.06475214925916deg);
          transform: rotate(-70deg);
        }
      }
      &:nth-child(3) {
        --bg: 62, 232, 177;    /* #3EE8B1 */
        --text: #174259;
        &::after {
          filter: hue-rotate(108.86466625842013deg);
          transform: rotate(-30deg);
        }
      }

      h3 {
        margin-top: 1.9rem;
        margin-bottom: 1rem;
        color: var(--text);
        font-size: calc(var(--text-xl) * var(--font-scale));
        font-weight: 900;
      }
      > .grid {
        display: grid;
        grid-template-columns: auto auto;
        margin-right: 1.5rem;
        gap: 0.3rem 2.5rem;
        margin-bottom: 3rem;
        font-size: calc(var(--text-md) * var(--font-scale));
        font-weight: 600;

        .mobileOnly {
          display: none;
        }
        i {
          color: var(--text);
          width: 25px;
          height: 25px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: var(--text-lg);
          margin-left: .5rem;
        }
      }

      .btns {
        display: flex;
        gap: .5rem;
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        justify-content: center;

        i {margin-left: .3rem;}

        > button {
          display: block;
          font-size: calc(var(--text-md) * var(--font-scale));
          font-weight: 800;

          &:nth-child(1) {
            width: 16rem;
          }
          &:nth-child(2) {
            width: 10rem;
          }
        }
      }

      button {
        background: #295F98;
        font-weight: bold;

        &.alt {
          background: #F7C04A;
          color: #363636;
        }
      }
    }

  }
  .termContent {
    --bg: rgb(var(--color-1), .3);
    --text: var(--color-1-text);
    padding: 0 5rem;
    padding-top: 5rem;

    > span {
      opacity: 0;
    }

    > div {
      background: var(--bg);
      margin-top: 11rem;
      margin-bottom: 1rem;
      padding: 3.7rem 1.6rem 2rem 1rem;
      border-radius: 1rem;
      backdrop-filter: blur(6px);
      font-size: calc(.7rem * var(--font-scale));
      font-weight: 700;
      position: relative;

      h3 {
        font-weight: 900;
        font-size: calc(var(--text-xl) * var(--font-scale));
        margin-bottom: 1rem;
      }

      ul li {
        @include f.text-size(md);
        list-style-type: disc; /* default bullets */
        list-style-position: inside;
        padding-right: 3.5em;  /* indent */
      }

      &::before {
        content: "";
        width: 22.3rem;
        height: 8rem;
        background: url("./Content/images/kids/small cloud.webp");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        margin: auto;
        bottom: calc(100% - 2.4rem);
      }

      &::after {
        content: "";
        width: 9.9rem;
        height: 12.7rem;
        background: url("/Content/images/kids/astro 1.webp");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: calc(100% - 0.7rem);
        left: 6rem;
        margin: auto;
      }

      &:nth-child(2n) {
        &::after, &::before {
          left: unset;
          right: 0;
        }
        &::after {
          right: 4rem;
        }
      }

      &:nth-of-type(2) {
        --bg: rgb(var(--color-2), .3);
        --text: var(--color-2-text);

        &::after {
          background-image: url("/Content/images/kids/astro 2.webp");
          width: 11.2rem;
          height: 11.3rem;
        }
      }
      &:nth-of-type(3) {
        --bg: rgb(var(--color-3), .3);
        --text: var(--color-3-text);
        &::after {
          background-image: url("/Content/images/kids/astro 3.webp");
          width: 13.2rem;
          height: 14rem;
        }
      }
    }
  }

  .seventh-section {
    max-width: 75rem;
    /* margin-top: 10rem !important; */
    @include kidsSeven.seventh-section;
  }

  @include v.media(v.$screen) {
    .kidsHeader {
      img {
        opacity: .3;
        object-position: right;
      }
      flex-direction: row;
      padding-left: 0;
      gap: 0;
      justify-content: space-between;
    }
    .kidsCloud {margin-bottom: 2rem;}
    .terms {
      background-image: none;
      .item {
        &::after {
          left: 0 !important;
          right: 0 !important;
          bottom: 15rem;
          margin: auto !important;
        }
        transform: none !important;
      }
    }
    .termContent {
      grid-template-columns: auto;
      gap: 3rem 0;
    }
  }
  @include v.media(v.$laptop) {
    padding-top: 0;
    .kidsHeader {
      /* --font-scale: .8; */
      .Title button {
        width: 17rem;
      }
    }
    .terms {
      padding: 1rem;
      .item {
        /* --font-scale: 1.2; */
        width: 100%;
        &::after {
          bottom: 22.9rem;
        }
        > div {
          grid-template-columns: auto;
          .mobileOnly {
            display: flex;
            align-items: center;
            gap: .5rem;
          }
        }
        .btns {
          margin: 0;
          button {
            &:nth-child(1) {display: none;}
            &:nth-child(2) {width: 90%;}
          }
        }
      }
    }
  }
  @include v.media(v.$tablet) {
    .kidsHeader {
      padding: 1rem;
      margin-bottom: 2rem;
      .Title {
        --font-scale: 0.8;
        h1,p {margin-bottom: 0;}
        p,span {
          /* --font-scale: .8;*/
          text-align: right; 
          font-weight: 900;
        }
        h1 {padding-block: 1rem;text-wrap: nowrap;margin-bottom: 2rem;}
        button {width: 12rem;margin-top: 1rem;}
      }
      img {width: 20rem; transform: translate(6rem) translateY(6rem);}
    }
    .kidsCloud {
      /* --font-scale: 1; */
      p {
        padding-block: 8rem;
        font-weight: 700;
      }
    }
    .terms .item {
      > div {
        margin-inline: 0;
      }
      &::after {
        bottom: 22rem;
        width: 11rem;
        height: 12rem;
      }
    }
    .termContent {
      padding-inline: 1rem;
      > div {
        width: 100%;
        ul li {
          padding: 0;
        }
      }
    }

  }
  @include v.media(v.$mobile) {
  }
}

@keyframes bounceUpDown {
  0%, 100% {
    top: -20px;
  }
  50% {
    top: -80px;
  }
}
@keyframes bounceRightLeft {
  0%, 100% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(-30px);
  }
}
