@mixin seventh-section{
    width: 100%;
    height: 533px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    .right{
        width: 566px;
        height: 100%;
        position: relative;
        .background-green{
            background-color: #71BBB2;
            width: 270px;
            height: 150px;
            border-radius: 10px;
            position: absolute;
            font-size: 1.5em;
            text-align: center;
            display: flex;
            align-items: center;
            box-shadow: 0 0 20px -4px #71BBB2;
            font-weight: 900;
            color: #fff;
        }


        .courseimg{
            width: 270px;
            height: 335px;
            position: absolute;
            left: 0;
            object-fit: none;
        }

        .kidlaugh{
            width: 270px;
            height: 335px;
            position: absolute;
            right: 0;
            object-fit: none;
            bottom: 0; 
            background-color: #ffffff;
        }
        .background-yellow{
            background-color: #F7C04A;
            width: 270px;
            height: 150px;
            border-radius: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1.5em;
            text-align: center;
            display: flex;
            align-items: center;
            box-shadow: 0 0 20px -4px #F7C04A;
            font-weight: 900;
            color: #fff;
        }
    }

    .left{
        width: 605px;
        height: 100%;
        .Q-title{
            width: 100%;
            background-color: transparent;
            height: 55px;
            border-right: 5px solid;
            border-radius: 10px;
            display: flex;
            align-items: center;
            font-size: 1.5em;
            padding-right: 15px;
            color: black;
            font-weight: 900;
            margin: 10px 0;

        }
        #commonQ{
        
            .Q,
            .A {
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 0.4em;
                margin: auto;
                margin-bottom: 3px;
                padding: 0.8em 1em;
                width: 605px;
                background-color: #fff;
        
                &.Q {
                    font-weight: bold;
                    position: relative;
                    cursor: pointer;
                    user-select: none;
        
                    &::before {
                        position: absolute;
                        left: 1em;
                        transition: 0.3s;
                    }
        
                    &.active {
                        &::before {
                            transform: rotate(180deg);
                        }
        
                        & + .A {
                            max-height: 20em;
                            padding-block: 0.8em;
                            border-width: 1px;
                        }
                    }
                }
        
                &.A {
                    padding-block: 0;
                    max-height: 0;
                    overflow: hidden;
                    border-width: 0;
                    transition: 0.8s cubic-bezier(0.25, 0.1, 0.19, 0.93);
                }
            }
        
        }
        
    }
}